﻿                  <!-- BEGIN CONTENT -->
<style>
    .offsethelp{
        margin-bottom:15px;
    }
    
</style>                                                  
                    <!-- BEGIN PAGE TITLE-->
                    <h3 class="page-title">
                        New System User

                    </h3>
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->
                   
                   
               <div class="profile-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                        </li>
                       
                        <li>
                            <a href="#tab_1_3" data-toggle="tab">Change Password</a>
                        </li>
                        <li>
                            <a href="#tab_1_4" data-toggle="tab">Security</a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <!-- PERSONAL INFO TAB -->
                        <div class="tab-pane active" id="tab_1_1">
                            <form role="form" action="#">
                                <div class="form-group form-md-line-input">
                                    <input name="firstName" [(ngModel)]="user.firstName" type="text" class="form-control" id="firstName">
                                    <label for="form_control_1">First Name</label>
                                    <span class="help-block" style="padding-bottom:10px">Required</span>
                                </div> 
                                <div class="form-group form-md-line-input">
                                    <input name="lastName" type="text" class="form-control" id="form_control_1" [(ngModel)]="user.lastName">
                                    <label for="form_control_1">Last Name</label>
                                    <span class="help-block">Required</span>
                                </div> 
                                <div class="form-group form-md-line-input">
                                    <select name="title" class="form-control" id="form_control_1" [(ngModel)]="user.title">
                                        <option value="Mr.">Mr.</option>
                                        <option value="Ms.">Ms.</option>
                                        <option value="Mrs.">Mrs.</option>
                                    </select>
                                    <label for="form_control_1">Prefix</label>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <input name="lastName" pPassword promptLabel="Create Password" type="password" class="form-control" id="form_control_1" [(ngModel)]="user.password">
                                    <label for="form_control_1">Create Password</label>
                                    <span class="help-block">Required</span>
                                </div> 
                                <div class="form-group  form-md-line-input">
                                    <input name="email" type="email" class="form-control" id="form_control_1" [(ngModel)]="user.email">
                                    <label for="form_control_1">Email</label>
                                    <span class="help-block">Required</span>
                                </div> 
                                <div class="form-group form-md-line-input">
                                    <input name="zipCode" type="text" class="form-control" id="form_control_1" [(ngModel)]="user.mobile">
                                    <label for="form_control_1">Phone Number</label>
                                    <span class="help-block">Optional</span>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <input name="zipCode" type="text" class="form-control" id="form_control_1" [(ngModel)]="user.occupation">
                                    <label for="form_control_1">Occupation</label>
                                    <span class="help-block">Optional</span>
                                </div>
                               
                                <div class="margiv-top-10">
                                    <a  class="btn green" style="float:right" (click)="saveUser()" > Save Changes </a>
                                    <a  class="btn default" style="float:right;margin-right:5px" (click)="cancel()"> Cancel </a>
                                </div>
                            </form>
                        </div>
                        <!-- END PERSONAL INFO TAB -->
                      
                        <!-- CHANGE PASSWORD TAB -->
                        <div class="tab-pane" id="tab_1_3">
                            <form action="#">
                                <div class="form-group form-md-line-input">
                                    <input name="lastName" pPassword promptLabel="Enter Current Password" type="password" class="form-control" id="form_control_1" [(ngModel)]="user.password">
                                    <label for="form_control_1">Current Password</label>
                                    <span class="help-block">Required</span>
                                </div> 
                                <div class="form-group form-md-line-input">
                                    <input name="lastName" pPassword promptLabel="Enter New Password" type="password" class="form-control" id="newpassword" [(ngModel)]="user.newpassword">
                                    <label for="form_control_1">New Password</label>
                                    <span class="help-block">Required</span>
                                </div> 
                                <div class="form-group form-md-line-input">
                                    <input name="lastName" pPassword promptLabel="Re-type New Password" type="password" class="form-control" id="renewpassword" [(ngModel)]="user.newpassword">
                                    <label for="form_control_1">Re-type New Password</label>
                                    <span class="help-block">Required</span>
                                </div> 
                                                             
                                <div class="margin-top-10">
                                    <a href="javascript:;" class="btn green" style="float:right"> Change Password </a>
                                    <a href="javascript:;" class="btn default" style="float:right;margin-right:5px"> Cancel </a>
                                </div>
                            </form>
                        </div>
                        <!-- END CHANGE PASSWORD TAB -->
                        <!-- PRIVACY SETTINGS TAB -->
                        <div class="tab-pane" id="tab_1_4">
                            <form action="#">
                                <table class="table table-light table-hover">
                                    <tr>
                                        <td> Administrator </td>
                                        <td>
                                            <div class="form-group form-md-radios">
                                                
                                                <div class="md-radio-inline">
                                                    <div class="md-radio">
                                                        <input type="radio" id="radio6" name="radio2" class="md-radiobtn">
                                                        <label for="radio6">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Yes
                                                        </label>
                                                    </div>
                                                    <div class="md-radio">
                                                        <input type="radio" id="radio7" name="radio2" class="md-radiobtn" checked="">
                                                        <label for="radio7">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> No
                                                        </label>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Read </td>
                                        <td>
                                            <div class="md-checkbox has-success">
                                                <input type="checkbox" id="checkbox1" class="md-check">
                                                <label for="checkbox1">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Yes
                                                </label>
                                            </div>
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Write </td>
                                        <td>
                                            <div class="md-checkbox has-success">
                                                <input type="checkbox" id="checkbox2" class="md-check">
                                                <label for="checkbox2">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Yes
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                </table>
                                <!--end profile-settings-->
                                <div class="margin-top-10">
                                    <a href="javascript:;" class="btn red" style="float:right"> Save Changes </a>
                                    <a href="javascript:;" class="btn default" style="float:right;margin-right:5px"> Cancel </a>
                                </div>
                            </form>
                        </div>
                        <!-- END PRIVACY SETTINGS TAB -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- END CONTENT BODY -->