﻿ <!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->


<div class="row">
    <div class="col-md-12">
        <div class="note note-success">
            <p> You can search users by  Names, Email, Mobile Number or Occupation </p>
        </div>
        <div class="form-group form-md-line-input has-warning form-md-floating-label">
            <div class="input-group">
                
                <div class="input-group-control">
                    <input type="text" class="form-control"  [(ngModel)]='userSearch'>
                    <label for="form_control_1">Search Users</label>
                </div>
                <span class="input-group-btn btn-right">
                    <button class="btn green-haze" type="button">Search</button>
                </span>
            </div>
        </div>
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Advance Search
                </div>
                <div class="tools">
                    <a href="" class="expand" data-original-title="" title=""> </a>
                  
                </div>
            </div>
            <div class="portlet-body form" style="display: none">
                <form role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Names</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Name">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="email">
                                </div>
                            </div>                          
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Mobile</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="+359...">
                                    
                                </div>
                            </div>
                            <!--/span-->
                           

                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Occupation</label>
                                    <input type="text" id="occupation" class="form-control" placeholder="Sales">
                                    
                                </div>
                            </div>
                           
                        </div>
                      
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green-haze pull-right"><i class="fa fa-search"></i> Search</button>
                       
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
      
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Users
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead>
                        <tr>
                            <th> Names </th>
                            <th> Email </th>
                            <th> Mobile </th>
                            <th> Occupation </th>
                                                   
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of usersList  | userFilter:userSearch">
                            
                            <td>{{user.title}} {{user.firstName}} {{user.lastName}}</td>
                            <td> {{user.email}} </td>       
                            <td> {{user.mobile}}  </td>                                                 
                            <td> {{user.occupation}} </td>                            
                        </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>