﻿<div class="row">
    <div class="col-md-12">
       
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="note note-success">
            <p> You can search invoice by Invoice#, ID/VAT, Mobile Number, Name </p>
        </div>
        <div class="form-group form-md-line-input has-warning form-md-floating-label">
            <div class="input-group">
              
                <div class="input-group-control">
                    <input type="text" class="form-control">
                    <label for="form_control_1">Search Invoice</label>
                </div>
                <span class="input-group-btn btn-right">
                    <button class="btn green-haze" type="button">Search</button>
                </span>
            </div>
        </div>
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Advance Search
                </div>
                <div class="tools">
                    <a href="" class="expand" data-original-title="" title=""> </a>
                    
                </div>
            </div>
            <div class="portlet-body form" style="display: none;">
                <form role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Invoice #</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="#">
                                    <span class="help-block"> This is inline help </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">ID/VAT</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Enter Id">
                                    <span class="help-block"> This is inline help </span>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Name</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="Ivan Ivanov">
                                    <span class="help-block"> This field has error. </span>
                                </div>
                            </div>
                           
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Mobile</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="Enter Mobile">
                                    <span class="help-block"> This field has error. </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Invoice Date</label>
                                <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                    <input type="text" class="form-control" name="from">
                                    <span class="input-group-addon"> to </span>
                                    <input type="text" class="form-control" name="to">
                                </div>
                                <!-- /input-group -->
                                <span class="help-block"> Select date range </span>
                               
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Total</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="$..">
                                    <span class="help-block"> This field has error. </span>
                                </div>
                            </div>
                            
                            <!--/span-->
                        </div>
                        <!--<div class="form-group has-success">
                            <label class="control-label">Input with success</label>
                            <input type="text" class="form-control" id="inputSuccess">
                        </div>
                        <div class="form-group has-warning">
                            <label class="control-label">Input with warning</label>
                            <input type="text" class="form-control" id="inputWarning">
                        </div>
                        <div class="form-group has-error">
                            <label class="control-label">Input with error</label>
                            <input type="text" class="form-control" id="inputError">
                        </div>-->
                    </div>
                    <div class="form-actions">                       
                        <button type="submit" class="btn green-haze pull-right"><i class="fa fa-search"></i> Search</button>                       
                    </div>
                </form>
            </div>
        </div>
       
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Invoices
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th width="10%"> ID/VAT </th>
                            <th width="10%"> Customer Type </th>
                            <th> Customer Names </th>
                            <th class="numeric"> Invoice Date </th>
                            <th class="numeric"> Mobile </th>
                            <th class="numeric text-right"> Invoice Total </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let invoice of invoicesList">
                            <td>#{{invoice.id}} </td>
                            <td>#{{invoice.customerType}} </td>
                            <td>{{invoice.firstName}} {{invoice.lastName}}</td>
                            <td class="calendar-date"> {{invoice.invoiceDate  | date: 'dd/MM/yyyy'}}</td>
                            <td class="numeric"> {{invoice.mobile}} </td>
                            <td class="numeric text-right"> {{invoice.total|currency:'EUR':true}} </td>
                            <td style="text-align:right">
                                <a class="btn grey-cascade hidden-print margin-bottom-5" onclick="javascript:window.print();">
                                    <i class="fa fa-search"></i> View Details

                                </a>
                                <a class="btn blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
                                    <i class="fa fa-print"></i> Print Invoice
                                   
                                </a>
                               
                            </td>                                         
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


