﻿<link href="../assets/pages/css/invoice.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
<style>
    invoice-sumary{
        font-size:14px
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="note note-success">
            <p> You can search customer by ID/VAT, Mobile Number, Name... </p>
        </div>
        <div class="form-group form-md-line-input has-warning form-md-floating-label">
            <div class="input-group">
                
                <div class="input-group-control">
                    <input type="text" class="form-control" [(ngModel)]='customerSearch'>
                    <label for="form_control_1">Search Customer</label>
                </div>
                <span class="input-group-btn btn-right">
                    <button class="btn green-haze" type="button">Search</button>
                </span>
            </div>
        </div>
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Advance Search for Customer
                </div>
                <div class="tools">
                    <a href="" class="expand" data-original-title="" title=""> </a>
                   
                </div>
            </div>
            <div class="portlet-body form" style="display: none;">
                <form role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">ID/VAT</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="+359...">
                                    <span class="help-block"> This field has error. </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Names</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Ivan Ivanov">
                                    <span class="help-block"> This is inline help </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Mobile</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="+359...">
                                    <span class="help-block"> This is inline help </span>
                                </div>
                            </div>
                            <!--/span-->
                           

                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Address</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="Sofia, BG">
                                    <span class="help-block"> This field has error. </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="email">
                                    <span class="help-block"> This field has error. </span>
                                </div>

                            </div>
                            <!--/span-->

                        </div>

                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green-haze pull-right"><i class="fa fa-search"></i> Search</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Customers
                </div>
               
            </div>
            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th></th>
                            <th>ID/VAT </th>
                            <th> Type </th>
                            <th> Customer Names </th>
                            <th> Mobile </th>
                            <th> Email </th>
                            <th> Address </th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customersList | customerFilter:customerSearch">
                            <td style="width:25px">
                                <div class="md-checkbox has-info">
                                    <input type="checkbox" id="checkbox12"  class="md-check">
                                    <label for="checkbox12">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                    </label>
                                </div>
                            </td>
                            <td>{{customer.id}}</td>
                            <td>{{customer.type}}</td>
                            <td>{{customer.title}} {{customer.firstName}} {{customer.lastName}}</td>
                            <td> {{customer.mobile}}  </td>
                            <td> {{customer.email}} </td>
                            <td> {{customer.address1}} {{customer.state}},{{customer.country}} {{customer.zipCode}} </td>                                                     
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="well">
    <h1>Generate Invoice</h1>
    <div class="form-group form-md-radios">

        <div class="md-radio-inline">

            <div class="md-radio">
                <input type="radio" id="radio7" name="radio2" class="md-radiobtn"  (click)="changeInvoiceType(true)">
                <label for="radio7">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span> On Demand
                </label>
            </div>
            <div class="md-radio">
                <input type="radio" id="radio8" name="radio2" class="md-radiobtn" checked="" (click)="changeInvoiceType(false)">
                <label for="radio8">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span> On Invoice Date
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p-calendar [(ngModel)]="value" [showIcon]="true"></p-calendar> <span style="margin-left:35px">{{value|date}}</span>
           
        </div>

        <a (click)="generateInvoice()" class="pull-right btn green hidden-print margin-bottom-5" style="margin-right:10px">
            <i class="fa fa-print"></i><span style="margin-left:5px">Generate Invoice</span>

        </a>

    </div>
</div>

<div class="invoice">
    <!--<div class="row invoice-logo">
        <div class="col-xs-6 invoice-logo-space">
            <img src="app/assets/pages/media/invoice/walmart.png" class="img-responsive" alt="" />
        </div>
        <div class="col-xs-6">
            <p>
               INVOICE #5652256 / 28 Feb 2013
                <span class="muted"> Consectetuer adipiscing elit </span>
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-4">
            <h3>Client:</h3>
            <ul class="list-unstyled">
                <li> John Doe </li>
                <li> Mr Nilson Otto </li>
                <li> FoodMaster Ltd </li>
                <li> Madrid </li>
                <li> Spain </li>
                <li> 1982 OOP </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <h3>About:</h3>
            <ul class="list-unstyled">
                <li> Drem psum dolor sit amet </li>
                <li> Laoreet dolore magna </li>
                <li> Consectetuer adipiscing elit </li>
                <li> Magna aliquam tincidunt erat volutpat </li>
                <li> Olor sit amet adipiscing eli </li>
                <li> Laoreet dolore magna </li>
            </ul>
        </div>
        <div class="col-xs-4 invoice-payment">
            <h3>Payment Details:</h3>
            <ul class="list-unstyled">
                <li>
                    <strong>V.A.T Reg #:</strong> 542554(DEMO)78
                </li>
                <li>
                    <strong>Account Name:</strong> FoodMaster Ltd
                </li>
                <li>
                    <strong>SWIFT code:</strong> 45454DEMO545DEMO
                </li>
                <li>
                    <strong>V.A.T Reg #:</strong> 542554(DEMO)78
                </li>
                <li>
                    <strong>Account Name:</strong> FoodMaster Ltd
                </li>
                <li>
                    <strong>SWIFT code:</strong> 45454DEMO545DEMO
                </li>
            </ul>
        </div>
    </div>-->

    <div *ngIf="showDetail">

        <div class="row">
            <div class="col-xs-12">
                <div class="alert-success ">
                    <strong>INVOICE SUMMARY OF OCTOBER 2016</strong>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Previous Balance</th>
                            <th> Payment </th>
                            <th> Total Current Balance </th>
                            <th> Total Amount Due </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 164,960 </td>
                            <td> 164,960 Credit </td>
                            <td> 181,526 </td>
                            <td> 181,526 </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="invoice-sumary"><strong>Subscription Fee:</strong> </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2">
                <span>- Monthly for Detail Billing </span>
            </div>
            <div class="col-md-5" style="text-align:right"><span style="text-align:right">4,000</span></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="invoice-sumary"><strong>Usage Charge:</strong> </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2">
                <span>- Domestic Call </span>
            </div>
            <div class="col-md-5" style="text-align:right"><span>30,000</span></div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2">
                <span>- Minimum Charge</span>
            </div>
            <div class="col-md-5 " style="text-align:right"><span>45,000</span></div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2">
                <span>- SMS</span>
            </div>
            <div class="col-md-5 " style="text-align:right"><span>6,800</span></div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2">
                <span>- VAS Service</span>
            </div>
            <div class="col-md-5 " style="text-align:right"><span>105,04</span></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="invoice-sumary"><strong>Discount:</strong> </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2">
                <span>- Minimum Charge</span>
            </div>
            <div class="col-md-5 " style="text-align:right"><span>25,00 Credit</span></div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2">
                <span>- Detail Billing</span>
            </div>
            <div class="col-md-5 " style="text-align:right"><span>4,00 Credit</span></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <span class="invoice-sumary"><strong>Sub Total:</strong> </span>
            </div>
            <div class="col-md-5" style="text-align:right"><strong>164,40</strong></div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2">
                <span>- VAT</span>
            </div>
            <div class="col-md-5 " style="text-align:right">
                <span>
                    16,502
                </span>
            </div>
        </div>
        <div class="row alert-success">
            <div class="col-md-3 ">
                <strong>Total Current Balance</strong>
            </div>
            <div class="col-md-5" style="text-align:right"><strong>181,526</strong></div>

        </div>
        <div class="row ">
            <div class="col-md-3">
                <strong>Previous Balance :</strong>
            </div>
            <div class="col-md-5" style="text-align:right"><strong>164,960</strong></div>

        </div>
        <div class="row alert-success">
            <div class="col-md-3 ">
                <strong>Total Amount Due</strong>
            </div>
            <div class="col-md-5" style="text-align:right"><strong>181,526 </strong></div>

        </div>
        <div class="row ">
            <div class="col-md-3">
                <strong>Previous Balance :</strong>
            </div>
            <div class="col-md-5" style="text-align:right"><strong>164,960</strong></div>
        </div>

        <div class="row" style="margin-top:20px">
            <div class="col-md-12">

                <a class="btn btn-lg green hidden-print margin-bottom-5 pull-right" style="margin-left:10px">
                    <i class="fa fa-check"></i>Save Invoice

                </a>

                <a class="btn btn-lg blue hidden-print margin-bottom-5 pull-right" onclick="javascript:window.print();">
                    <i class="fa fa-print"></i> Print

                </a>
                
            </div>
        </div>

    </div>

    <!--<div class="row">
        <div class="col-md-12">
            <span><strong>Additional Benefit:</strong> </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-2">
            <span>- Discount GPRS</span>
        </div>
        <div class="col-md-5" style="text-align:right"><span>7,000</span></div>
    </div>                         
    <div class="row" style="margin-top:20px">
        <div class="col-xs-4">
            <div class="well">
                <address>
                    <strong>Loop, Inc.</strong>
                    <br /> 795 Park Ave, Suite 120
                    <br /> San Francisco, CA 94107
                    <br />
                    <abbr title="Phone">P:</abbr> (234) 145-1810
                </address>
                <address>
                    <strong>Full Name</strong>
                    <br />
                    <a href="mailto:#"> first.last@email.com </a>
                </address>
            </div>
        </div>
        <div class="col-xs-8 invoice-block">
            <ul class="list-unstyled amounts">
                <li>
                    <strong>Sub - Total amount:</strong> $9265
                </li>
                <li>
                    <strong>Discount:</strong> 12.9%
                </li>
                <li>
                    <strong>VAT:</strong> -----
                </li>
                <li>
                    <strong>Grand Total:</strong> $12489
                </li>
            </ul>
            <br />
            
        </div>
    </div>-->


   
</div>