﻿

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper hide">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler"> </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
            <li class="sidebar-search-wrapper">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                <form class="sidebar-search  " action="page_general_search_3.html" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit">
                                <i class="icon-magnifier"></i>
                            </a>
                        </span>
                    </div>
                </form>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
            <li class="nav-item {{selectedItem == 'welcome' ? 'active': ''}}">
                <a (click)="selectMenu('welcome')" [routerLink]="['welcome']" class="nav-link">
                    <i class="fa fa-user-plus"></i>
                    <span class="title">Home</span>
                    <span class="selected"></span>
                   
                </a>
                </li>
            <li class="nav-item {{selectedItem == 'customer' || selectedItem == 'business-customer' || selectedItem == 'customer-search'? 'active open': ''}}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-user-plus"></i>
                    <span class="title">Customer</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li  class="nav-item {{selectedItem == 'business-customer' ? 'active open': ''}}">

                        <a (click)="selectMenu('business-customer')" [routerLink]="['business-customer']" class="nav-link nav-toggle">
                           
                            <i class="icon-bar-chart"></i>
                            <span class="title">Business Customer</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li  class="nav-item {{selectedItem == 'customer' ? 'active': ''}}">
                        <a (click)="selectMenu('customer')" [routerLink]="['customer']" class="nav-link ">
                           
                            <i class="icon-user"></i>
                            <span class="title">Private Customer</span>
                            <span id="customerEditMode" class="badge badge-success" style="display:none">!</span>
                        </a>
                    </li>
                    <li class="nav-item {{selectedItem == 'customer-search' ? 'active': ''}}">
                        <a (click)="selectMenu('customer-search')" [routerLink]="['customer-search']" class="nav-link ">
                            
                            <i class="icon-user"></i>
                            <span class="title">Customer Search</span>
                            <span id="customerEditMode" class="badge badge-success" style="display:none">!</span>
                        </a>
                    </li>

                </ul>
            </li>          
            <li class="nav-item  ">
                <a  class="nav-link nav-toggle">
                    <i class="icon-diamond"></i>
                    <span class="title">Large Accounts</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start active open">
                        <a class="nav-link ">
                            <!--<i class="icon-magnifier"></i>-->
                            <span class="title">Create Large Account</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a  class="nav-link ">
                            <!--<i class="icon-bulb"></i>-->
                            <span class="title">Modify Large Account</span>
                            <!--<span class="badge badge-success">1</span>-->
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item {{selectedItem == 'invoice' || selectedItem == 'invoice-search' ? 'active open': ''}}">
                <a  class="nav-link nav-toggle">
                    <i class="icon-puzzle"></i>
                    <span class="title">Billing</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">

                    <li class="nav-item {{selectedItem == 'invoice' ? 'active': ''}}">
                        <a (click)="selectMenu('invoice')" [routerLink]="['invoice']" class="nav-link ">
                            <span class="title">Generate Invoice</span>
                            <span id="invoiceEditMode" class="badge badge-success" style="display:none">!</span>
                        </a>
                    </li>
                    <li class="nav-item {{selectedItem == 'invoice-search' ? 'active': ''}}">
                        <a (click)="selectMenu('invoice-search')" [routerLink]="['invoice-search']" class="nav-link ">
                            <span class="title">Search Invoice</span>
                            <span id="invoiceEditMode" class="badge badge-success" style="display:none">!</span>
                        </a>
                    </li>
                    
                </ul>
            </li>
            <!--<li class="nav-item  ">
                <a  class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">Back-office tasks</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu"></ul>
            </li>-->
            <li class="nav-item {{selectedItem == 'user' || selectedItem == 'user-search' ? 'active open': ''}}">
                <a class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">Users</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">

                    <li class="nav-item {{selectedItem == 'user' ? 'active': ''}}">
                        <a (click)="selectMenu('user')" [routerLink]="['user']" class="nav-link ">
                            <span class="title">Create User</span>
                           
                        </a>
                    </li>

                    <li class="nav-item {{selectedItem == 'user-search' ? 'active': ''}}">
                        <a (click)="selectMenu('user-search')" [routerLink]="['user-search']" class="nav-link ">
                            <span class="title">Search Users</span>
                           
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item  nav-item {{selectedItem == 'change-tariff-plans' || selectedItem == 'deactivate-cards' ? 'active open': ''}}">
                <a  class="nav-link nav-toggle">
                    <i class="icon-bulb"></i>
                    <span class="title">Mass actions</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  {{selectedItem == 'change-tariff-plans' ? 'active': ''}} ">
                        <a (click)="selectMenu('change-tariff-plans')" [routerLink]="['change-tariff-plans']" class="nav-link ">
                            <span class="title">Change Tariff Plan</span>
                        </a>
                    </li>
                    <li class="nav-item  {{selectedItem == 'deactivate-cards' ? 'active': ''}} ">
                        <a (click)="selectMenu('deactivate-cards')" [routerLink]="['deactivate-cards']" class="nav-link ">
                            <span class="title">Deactivate Sim Cards</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a  class="nav-link nav-toggle">
                    <i class="icon-briefcase"></i>
                    <span class="title">Order Management</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <!--<li class="nav-item  ">
                        <a class="nav-link ">
                            <span class="title">My Orders</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a  class="nav-link ">
                            <span class="title">All Orders</span>
                        </a>
                    </li>-->
                    <li class="nav-item  ">
                        <a class="nav-link ">
                            <span class="title">Order Workflow</span>
                        </a>
                    </li>
                </ul>
            </li>


        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->