﻿ <!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="../assets/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Change Tariff Plans
        </h3>
    </div>
        <div class="col-md-12">
            <div class="note note-success">
                <p> You can change tariff plans by selecting range from mobile numbers or by selecting range from customer Id's !</p>
            </div>
        </div>
    </div>
        
        <div class="profile">
            <div class="tabbable-line tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_1_1" data-toggle="tab"> From Mobile Numer to Mobile Number </a>
                    </li>
                    <li>
                        <a href="#tab_1_3" data-toggle="tab"> Form CustomerId to CustomerId </a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group form-md-line-input has-success">
                                    <label class="col-md-4 control-label" for="form_control_1">From Mobile Number</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control mask_phone" id="mask_phone_1">
                                        <span class="help-block"> (999) 999-9999 </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group form-md-line-input has-success">
                                    <label class="col-md-4 control-label" for="form_control_1">To Mobile Number</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control mask_phone" id="mask_phone_2">
                                        <span class="help-block"> (999) 999-9999 </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-md-line-input has-success">
                                    <button type="button" class="btn blue">Change Tariff Plans</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5  margin-top-40">
                                <div class="portlet sale-summary">
                                    <div class="portlet-title">
                                        <div class="caption font-green sbold"> Selected Phones Numbers Summary </div>
                                        <div class="tools">
                                            <a class="reload" href="javascript:;"> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="sale-info">
                                                    TODAY CHANGED TARIFF PLANS
                                                    <i class="fa fa-img-up"></i>
                                                </span>
                                                <span class="sale-num"> 23 </span>
                                            </li>
                                            <li>
                                                <span class="sale-info">
                                                    WEEKLY CHANGED TARIFF PLANS
                                                    <i class="fa fa-img-down"></i>
                                                </span>
                                                <span class="sale-num"> 87 </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> TOTAL CHANGET TARIFF PLANS </span>
                                                <span class="sale-num"> 2377 </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--tab_1_2-->
                    <div class="tab-pane" id="tab_1_3">
                        
                        <div class="row">                            
                                <div class="col-md-5 col-sm-4 col-xs-12">
                                    <div class="form-group form-md-line-input has-success">
                                        <label class="col-md-4 control-label" for="form_control_1">From CustomerId</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control mask_number" id="mask_number_1">
                                            <span class="help-block"> 0 ... 9999999999</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-4 col-xs-12">
                                    <div class="form-group form-md-line-input has-success">
                                        <label class="col-md-4 control-label" for="form_control_1">To CustomerId</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control mask_number" id="mask_number_2">
                                            <span class="help-block"> 0 ... 9999999999 </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12 ">
                                    <div class="">
                                        <button type="button" class="btn blue">Change Tariff Plans</button>
                                    </div>
                                </div>
                           
                            </div>
                        <div class="row">
                            <div class="col-md-5  margin-top-40">
                                <div class="portlet sale-summary">
                                    <div class="portlet-title">
                                        <div class="caption font-green sbold"> Selected CustomerId Summary </div>
                                        <div class="tools">
                                            <a class="reload" href="javascript:;"> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="sale-info">
                                                    TODAY CHANGED TARIFF PLANS
                                                    <i class="fa fa-img-up"></i>
                                                </span>
                                                <span class="sale-num"> 23 </span>
                                            </li>
                                            <li>
                                                <span class="sale-info">
                                                    WEEKLY CHANGED TARIFF PLANS
                                                    <i class="fa fa-img-down"></i>
                                                </span>
                                                <span class="sale-num"> 87 </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> TOTAL CHANGED TARIFF PLANS </span>
                                                <span class="sale-num"> 2377 </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end tab-pane-->

                </div>
            </div>
        </div>
